*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
} 
.container{
  background: linear-gradient(-45deg,rgb(163, 163, 238), rgb(11, 95, 252));
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }